<div class="row">
	<div class="col-lg-3 col-md-6 mb-4">
	<ul *ngFor = "let item of data">

	<div *ngIf="item.official;then thenBlock;else elseBlock">
	</div>

	<ng-template #thenBlock>
		<ol>
			<div>
			<span>{{item.name}}</span>

			<button type="button" class="btn btn-primary" (click) = "changeOfficial(item._id, item.official)">Official</button>
		</div>
		</ol>
	</ng-template>




	<ng-template #elseBlock>
		<ol>
			<div>
			{{item.name}}
			<button type="button" class="btn btn-blue-grey" (click) = "changeOfficial(item._id, item.official)" >Not an Official</button>
		</div>
		</ol>
	</ng-template>
</ul>

	</div>


</div>
