<!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
<input id="photo" type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<input id="mailID" name="mailID" type="hidden" value="jar1247@gmail.com">
<!-- button to trigger the file upload when submitted -->
<button class="btn btn-danger" type="button" class="btn btn-success btn-s" (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload
</button>

<!-- uploader.uploadAll() -->
